In [57]:
import requests
import json
import pandas as pd
from pandas import json_normalize

import time
from datetime import datetime
from tqdm import tqdm_notebook
import random
import shutil

import logging
logger = logging.getLogger()

In [89]:
shutil.copy('./data/meamul_up_to_date_list.csv', './data/pre/pre_meamul_list.csv')
shutil.copy('./data/meamul_up_to_date_detail.csv', './data/pre/pre_meamul_detail.csv')

'./data/pre/pre_meamul_detail.csv'

In [59]:
find_list = pd.DataFrame()
headers = {"authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IlJFQUxFU1RBVEUiLCJpYXQiOjE2NDQ4ODc1ODcsImV4cCI6MTY0NDg5ODM4N30.k7REkvGO25NstaarZrq4OOi2E49OPXRaxQsOycujelg",
              "User-Agent" : "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.80 Safari/537.36"
              }
cortarNo = {"Chengcheon": 2823710400, 
            "Samsan" : 2823710500,
            "Galsan" : 2823710600,
            "Hyoseong" : 2824510100,
            "Seoun" : 2824510400,
            "Jakjeon" : 2824510300,
           }
for idx, item in enumerate(cortarNo.values()):
    for i in tqdm_notebook(range(1,51)):
        url = "https://new.land.naver.com/api/articles?cortarNo={sigunguCode}&order=rank&realEstateType=SMS%3AGJCG%3AAPTHGJ%3AGM%3ATJ&tradeType=&tag=%3A%3A%3A%3A%3A%3A%3A%3A&rentPriceMin=0&rentPriceMax=900000000&priceMin=0&priceMax=900000000&areaMin=0&areaMax=900000000&oldBuildYears&recentlyBuildYears&minHouseHoldCount&maxHouseHoldCount&showArticle=false&sameAddressGroup=false&minMaintenanceCost&maxMaintenanceCost&priceType=RETAIL&directions=&page={num}&articleState".format(sigunguCode = item,num = i)
        r = requests.get(url, headers = headers)
        raw_data = json.loads(r.text)
        if len(raw_data.get("articleList")) == 0:
            print(list(cortarNo)[idx], i)
            break
        df = pd.DataFrame(raw_data.get("articleList"))
        find_list = pd.concat([find_list, df])
        time.sleep(0.5)

C:\Users\gongdan\AppData\Local\Temp/ipykernel_30452/1044125939.py:13: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i in tqdm_notebook(range(1,51)):

  0%|          | 0/50 [00:00<?, ?it/s]

Chengcheon 26

  0%|          | 0/50 [00:00<?, ?it/s]

Samsan 7

  0%|          | 0/50 [00:00<?, ?it/s]

Galsan 39

  0%|          | 0/50 [00:00<?, ?it/s]

Hyoseong 5

  0%|          | 0/50 [00:00<?, ?it/s]

Seoun 5

  0%|          | 0/50 [00:00<?, ?it/s]

Jakjeon 11

In [90]:
find_list['search_day'] = datetime.today().strftime("%Y%m%d")
find_list = find_list.astype({'articleNo':'int64'})
#find_list = find_list.astype({'floorinfo':'str'})
find_list = find_list.reset_index(drop= True)

In [91]:
pre_list = pd.read_csv('./data/pre/pre_meamul_list.csv')

result_list = pd.concat([pre_list, find_list])
result_list.drop_duplicates(subset = 'articleNo', inplace = True)

In [92]:
result_list

,articleNo,articleName,articleStatus,realEstateTypeCode,realEstateTypeName,articleRealEstateTypeCode,articleRealEstateTypeName,tradeTypeCode,tradeTypeName,verificationTypeCode,...,tradeCheckedByOwner,isDirectTrade,isInterest,isComplex,detailAddress,detailAddressYn,search_day,premiumPrc,sellerName,sellerPhoneNum
0,2203341748,중소형사무실,R0,SMS,사무실,D01,사무실,B2,월세,SITE,...,False,False,False,False,NaN,N,20220207,NaN,NaN,NaN
1,2203318257,지식산업센터,R0,APTHGJ,지식산업센터,E02,지식산업센터,B2,월세,SITE,...,False,False,False,False,NaN,N,20220207,NaN,NaN,NaN
2,2203383861,공장,R0,GJCG,공장/창고,E02,공장/창고,B2,월세,SITE,...,False,False,False,False,NaN,N,20220207,NaN,NaN,NaN
3,2203332682,공장,R0,GJCG,공장/창고,E02,공장/창고,B2,월세,SITE,...,False,False,False,False,NaN,N,20220207,NaN,NaN,NaN
4,2203484141,지식산업센터,R0,APTHGJ,지식산업센터,E02,지식산업센터,B2,월세,SITE,...,False,False,False,False,NaN,N,20220207,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2586,2207009813,중소형사무실,R0,SMS,사무실,D01,사무실,B2,월세,DOC,...,False,False,False,False,NaN,N,20220305,NaN,NaN,NaN
2587,2206987737,중소형사무실,R0,SMS,사무실,D01,사무실,B2,월세,DOC,...,False,False,False,False,NaN,N,20220305,NaN,NaN,NaN
2588,2206983820,중소형사무실,R0,SMS,사무실,D01,사무실,B2,월세,DOC,...,False,False,False,False,NaN,N,20220305,NaN,NaN,NaN
2589,2207030199,일반사무실,R0,SMS,사무실,D01,사무실,B2,월세,NONE,...,False,False,False,False,NaN,N,20220305,NaN,NaN,NaN
2590,2206992796,일반사무실,R0,SMS,사무실,D01,사무실,B2,월세,NONE,...,False,False,False,False,NaN,N,20220305,NaN,NaN,NaN

In [93]:
result_list.to_csv('./data/meamul_up_to_date_list.csv', index = False, encoding='utf-8-sig')
result_list = pd.read_csv('./data/meamul_up_to_date_list.csv')

In [101]:
search_detail = result_list[result_list['search_day']==int(datetime.today().strftime("%Y%m%d"))]

In [102]:
len(search_detail)

75

In [65]:
if len(search_detail)>100:
    time.sleep(180)

In [71]:
#Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IlJFQUxFU1RBVEUiLCJpYXQiOjE2NDQ5MDM2NjcsImV4cCI6MTY0NDkxNDQ2N30.szDIaoTvZcBq0qepEsno1DeUql0SkQ00AUS1JGymGHY
#Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IlJFQUxFU1RBVEUiLCJpYXQiOjE2NDQ4ODc1ODcsImV4cCI6MTY0NDg5ODM4N30.k7REkvGO25NstaarZrq4OOi2E49OPXRaxQsOycujelg
headers = {"authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IlJFQUxFU1RBVEUiLCJpYXQiOjE2NDUyMzI1MzUsImV4cCI6MTY0NTI0MzMzNX0.CaC0C4UJMEn1oTHeYTy4Gd2O6_GjRlvlLbjKKuYdc0I",
              "User-Agent" : "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.80 Safari/537.36"
              }
start = time.time()
find_detail = pd.DataFrame()
for idx, key in enumerate(tqdm_notebook(search_detail['articleNo'])):

    
    url = "https://new.land.naver.com/api/articles/{articleNo}".format(articleNo = key)
    r = requests.get(url, headers = headers)
    try:

        data = json_normalize(r.json())
        find_detail = pd.concat([find_detail, data])
        time.sleep(1)

    except Exception as e:
        print('error', idx)
        logger.error('Exception occurred while code execution: ' + str(e))
        print(time.time()-start,"초")
        break

C:\Users\gongdan\AppData\Local\Temp/ipykernel_30452/3705700630.py:8: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for idx, key in enumerate(tqdm_notebook(search_detail['articleNo'])):

  0%|          | 0/75 [00:00<?, ?it/s]

In [76]:
len(find_detail)

75

In [105]:
find_detail = find_detail.reset_index(drop = True)
find_detail = find_detail.astype({'articleDetail.articleNo': 'int64'})
find_detail = find_detail.drop_duplicates('articleDetail.articleNo')

In [106]:
pre_detail = pd.read_csv('./data/pre/pre_meamul_detail.csv')
result_detail = pd.concat([pre_detail,find_detail])
result_detail = result_detail.reset_index(drop = True)
result_detail = result_detail.astype({'articleDetail.articleNo': 'int64'})
result_detail = result_detail.astype({'articleAddition.floorInfo':'str'})
result_detail = result_detail.drop_duplicates('articleDetail.articleNo')

C:\Users\gongdan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (76,97,98,100,101,104,107,108,109,110,275,282,283,285) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [107]:

if len(result_detail) != len(result_list):
    print("list와 detail의 개수가 일치하지 않습니다.")
else : 
    result_detail.to_csv('./data/meamul_up_to_date_detail.csv', index = False, encoding='utf-8-sig')
    print("meamul_up_to_date_detail.csv 를 최신화했습니다.")

list와 detail의 개수가 일치하지 않습니다.

In [109]:
len(result_list)

2591

In [108]:
len(result_detail)

2589