In [19]:
import requests
import pandas as pd
from tqdm import tqdm_notebook
import json
naver_data = pd.read_csv('./data/meamul_up_to_date_detail.csv')
landbook = pd.read_csv('./data/landbook.csv')

In [70]:
naver_list = pd.read_csv('./data/meamul_up_to_date_list.csv')
naver_detail = pd.read_csv('./data/meamul_up_to_date_detail.csv')
landbook = pd.read_csv('./data/landbook.csv')

In [88]:
if len(naver_list) != len(naver_detail):
    print("list와 detail의 크기가 일치하지 않습니다.")
    print(f"list : {len(naver_list)}, detail : {len(naver_detail)}")

In [73]:
pd.merge(naver_list, naver_detail, on='articleNo', how = 'outer')

,articleNo,articleName_x,articleStatus,realEstateTypeCode,realEstateTypeName,articleRealEstateTypeCode,articleRealEstateTypeName,tradeTypeCode_x,tradeTypeName_x,verificationTypeCode_x,...,detailAddressYn_y,isComplex_y,isOwnerTradeCompleted,currentUsage,recommendUsage,electricPowerTypeCode,electricPowerTypeName,moveInDiscussionPossibleYN,jibunAddressExposureYn,nnhscpPlanBildNo
0,2203341748,중소형사무실,R0,SMS,사무실,D01,사무실,B2,월세,SITE,...,N,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2203318257,지식산업센터,R0,APTHGJ,지식산업센터,E02,지식산업센터,B2,월세,SITE,...,N,False,False,공장,공장,NaN,NaN,NaN,NaN,NaN
2,2203383861,공장,R0,GJCG,공장/창고,E02,공장/창고,B2,월세,SITE,...,N,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2203332682,공장,R0,GJCG,공장/창고,E02,공장/창고,B2,월세,SITE,...,N,False,False,공장,공장 및 창고,2.0,25-50,NaN,NaN,NaN
4,2203484141,지식산업센터,R0,APTHGJ,지식산업센터,E02,지식산업센터,B2,월세,SITE,...,N,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1433,2204646289,중소형사무실,R0,SMS,사무실,D01,사무실,B2,월세,DOC,...,N,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1434,2204697499,공장,R0,GJCG,공장/창고,E02,공장/창고,B2,월세,DOC,...,N,False,False,공장 창고,공장 사무실 창고,NaN,NaN,협의가능,NaN,NaN
1435,2204697380,공장,R0,GJCG,공장/창고,E02,공장/창고,B2,월세,DOC,...,N,False,False,공장창고,공장창고,2.0,25-50,협의가능,NaN,NaN
1436,2204705123,공장,R0,GJCG,공장/창고,E02,공장/창고,B2,월세,DOC,...,N,False,False,"공장,창고","공장,창고",1.0,25kw이하,협의가능,NaN,NaN
1437,2204705278,공장,R0,GJCG,공장/창고,E02,공장/창고,B2,월세,DOC,...,N,False,False,"공장,창고","공장,창고",NaN,NaN,NaN,NaN,NaN