In [34]:
import requests
import json
import pandas as pd
from pandas import json_normalize

import time
from tqdm import tqdm_notebook
from selenium import webdriver

In [3]:
naver_data = pd.read_csv('./data/meamul_up_to_date_detail.csv')
landbook = pd.read_csv('./data/landbook.csv')

In [4]:
naver_data

,articleExistTabs,articlePhotos,articleDetail.articleNo,articleDetail.articleName,articleDetail.articleSubName,articleDetail.cpId,articleDetail.cortarNo,articleDetail.tradeBuildingTypeCode,articleDetail.exposeStartYMD,articleDetail.exposeEndYMD,...,articleFacility.entranceTypeCode,articleFacility.entranceTypeName,articleFacility.facilityPreventionWindow,articleGround.usageAreaTypeName,articleGround.roadYN,articleBuildingRegister.dongNm,articleFacility.lifeFacilityList,articleFacility.lifeFacilities,articleDetail.nnhscpPlanBildNo,articleAddition.premiumPrc
0,"['detail', 'photos']","[{'imageKey': '2203341748', 'imageSrc': '/2022...",2203341748,중소형사무실 부평제이타워3차,NaN,bizmk,2823710400,SPOFC,20220205,20220307,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"['detail', 'photos']","[{'imageKey': '2203318257', 'imageSrc': '/2022...",2203318257,지식산업센터 부평제이타워3차,NaN,bizmk,2823710400,ROOM,20220205,20220307,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"['detail', 'photos']","[{'imageKey': '2203383861', 'imageSrc': '/2022...",2203383861,공장 부평테크노파크,NaN,SERVE,2823710400,BILD,20220205,20220307,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"['detail', 'photos']","[{'imageKey': '2203332682', 'imageSrc': '/2022...",2203332682,공장 부평제이타워3차,NaN,bizmk,2823710400,BILD,20220205,20220307,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"['detail', 'photos']","[{'imageKey': '2203484141', 'imageSrc': '/2022...",2203484141,지식산업센터 부평테크시티,NaN,SERVE,2823710400,ROOM,20220205,20220307,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1520,"['detail', 'photos']","[{'imageKey': '2204799872', 'imageSrc': '/2022...",2204799872,중소형사무실,NaN,hkdotcom,2824510300,SPOFC,20220214,20220316,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1521,['detail'],[],2204732873,대형사무실,NaN,bizmk,2824510300,SPOFC,20220214,20220316,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1522,['detail'],[],2204732905,대형사무실,NaN,bizmk,2824510300,SPOFC,20220214,20220316,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1523,['detail'],[],2204790104,빌딩,NaN,SERVE,2824510300,BILD,20220214,20220316,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1524,['detail'],[],2204788738,상가건물,NaN,KAR,2824510300,BILD,20220214,20220316,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
temp = naver_data[['articleDetail.latitude','articleDetail.longitude','articleDetail.pnu']]

In [7]:
temp.drop_duplicates(subset=['articleDetail.latitude','articleDetail.longitude'], inplace= True)
temp = temp.reset_index(drop = True)

C:\Users\gongdan\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [10]:
df = pd.merge(temp, landbook, left_on=['articleDetail.latitude','articleDetail.longitude'], right_on=['naver_latitude','naver_longitude'], how = 'outer')

In [17]:
find_landbook

,articleDetail.latitude,articleDetail.longitude,articleDetail.pnu,id,address,latitude,longitude,address_road,building_name,age,...,landuse_district,jimok,lot_road,lot_height,lot_shape,icp_potential_landlocked,development_state,naver_longitude,naver_latitude,naver_pnu
150,37.520210,126.690249,2.823710e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,37.507883,126.735422,2.823711e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,37.518396,126.744641,2.823711e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,37.507867,126.735739,2.823711e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,37.507914,126.734781,2.823711e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,37.535326,126.753505,2.824510e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373,37.528447,126.736746,2.824510e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,37.527857,126.734318,2.824510e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,37.527095,126.735726,2.824510e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,37.527655,126.737065,2.824510e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
find_landbook = df[df['id'].isna() == True]
find_landbook = find_landbook[['articleDetail.latitude','articleDetail.longitude','articleDetail.pnu']]
find_landbook.columns = ['naver_latitude','naver_longitude','naver_pnu']

In [24]:
len(find_landbook)

227

In [25]:
len(result_landbook)

227

In [23]:
#result_landbook = []
for idx, key in enumerate(tqdm_notebook(find_landbook.index[91:])):
    url = 'https://api2.landbook.net/point_polygons?lon={lon}&lat={lat}'.format(lon = find_landbook['naver_longitude'][key], lat = find_landbook['naver_latitude'][key])
    r = requests.get(url, timeout = 5)
    result_landbook. append([json.loads(r.text)['id'], find_landbook['naver_longitude'][key], find_landbook['naver_latitude'][key],find_landbook['naver_pnu'][key]])
    time.sleep(0.5)

C:\Users\gongdan\AppData\Local\Temp/ipykernel_19948/2991910173.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for idx, key in enumerate(tqdm_notebook(find_landbook.index[91:])):

  0%|          | 0/136 [00:00<?, ?it/s]

In [26]:
result_landbook = pd.DataFrame(result_landbook)
result_landbook.columns = ['landbook_pnu','naver_longitude','naver_latitude','naver_pnu']

In [27]:
result_landbook

            landbook_pnu  naver_longitude  naver_latitude     naver_pnu
0    2823710400100670013       126.690249       37.520210  2.823710e+18
1    2823710500104600003       126.735422       37.507883  2.823711e+18
2    2823710500101220013       126.744641       37.518396  2.823711e+18
3    2823710500104600004       126.735739       37.507867  2.823711e+18
4    2823710500104600001       126.734781       37.507914  2.823711e+18
..                   ...              ...             ...           ...
222  2824510400102120000       126.753505       37.535326  2.824510e+18
223  2824510300105890014       126.736746       37.528447  2.824510e+18
224  2824510300106460000       126.734318       37.527857  2.824510e+18
225  2824510300106910000       126.735726       37.527095  2.824510e+18
226  2824510300106350001       126.737065       37.527655  2.824510e+18

[227 rows x 4 columns]

In [ ]:
## 기존 landbook 데이터와 신규로 찾을 데이터 비교 과정 필요
# need_search_jibeon =

In [31]:
    url = 'https://api2.landbook.net/parcels/{num}'.format(num = item)
    r = requests.get(url, timeout = 5)

In [35]:
data = json_normalize(r.json())

In [50]:
result_jibeon = pd.DataFrame()
for idx, item in enumerate(tqdm_notebook(result_landbook['landbook_pnu'])):
    
    url = 'https://api2.landbook.net/parcels/{num}'.format(num = item)
    r = requests.get(url, timeout = 5)
    try:
        info = json.loads(r.text)['parcel_info']
        info.pop('geometry')
        info.pop('building_list')
        info.pop('other_parcel')
        info = dict(info)
        temp = pd.DataFrame(info,  index = [0])
        result_jibeon = pd.concat([result_jibeon, temp])
        time.sleep(0.5)
    except:
        print(idx, "error", item)
result_jibeon = result_jibeon.reset_index(drop = True)

C:\Users\gongdan\AppData\Local\Temp/ipykernel_19948/3417435906.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for idx, item in enumerate(tqdm_notebook(result_landbook['landbook_pnu'])):

  0%|          | 0/227 [00:00<?, ?it/s]

In [51]:
result_jibeon = result_jibeon.reset_index(drop = True)

In [58]:
result_landbook

            landbook_pnu  naver_longitude  naver_latitude     naver_pnu
0    2823710400100670013       126.690249       37.520210  2.823710e+18
1    2823710500104600003       126.735422       37.507883  2.823711e+18
2    2823710500101220013       126.744641       37.518396  2.823711e+18
3    2823710500104600004       126.735739       37.507867  2.823711e+18
4    2823710500104600001       126.734781       37.507914  2.823711e+18
..                   ...              ...             ...           ...
222  2824510400102120000       126.753505       37.535326  2.824510e+18
223  2824510300105890014       126.736746       37.528447  2.824510e+18
224  2824510300106460000       126.734318       37.527857  2.824510e+18
225  2824510300106910000       126.735726       37.527095  2.824510e+18
226  2824510300106350001       126.737065       37.527655  2.824510e+18

[227 rows x 4 columns]

In [59]:
result_jibeon[['naver_longitude','naver_latitude','naver_pnu']] = result_landbook[['naver_longitude','naver_latitude','naver_pnu']]

In [60]:
landbook = pd.read_csv('./data/landbook.csv')

In [61]:
result = pd.concat([landbook, result_jibeon])

In [63]:
result.to_csv('./data/landbook.csv', index = False, encoding = "utf-8-sig")